fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose
passlib
python-multipart
pydantic
pydantic-settings
geoalchemy2
shapely
pillow
cloudinary
email-validator
scikit-learn
xgboost 
joblib
pandas